body{
  background-color: #73C259;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container{
  background-color: #fff9f9;
  width: 400px;
  position: absolute;
  padding: 40px;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.container input[type="text"],.container input[type="password"]{
  background-color:#F2F2F2;
  display: block;
  margin: 20px auto;
  text-align: left;
  border: 2px solid;
  padding: 14px 10px;
  width: 350px;
  border: none;
  outline: none;
  color: black;
}
.button-box{
  background-color:#00b242;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid;
  padding: 12px 10px;
  width: 375px;
  outline: none;
  color: white;
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}
.button-box:hover{
  background-color: #FFF;
  color:#73C259;
}
.container input::placeholder{
  color: #b3b3b3;
  font-size: 16px;
}
.text-green{
  color: #73C259;
  cursor: pointer;
}
.container p{
  color: #b3b3b3;
}
